body {
  padding-bottom: 20px;
}

.green {
  color: #86b32e
}

.logo-main {
  /*margin-right: 6px;*/
  margin-bottom: 30px;
  width: 260px;
  height: 80px;
}

.logo-navbar {
  width: 65px;
  height: 20px;
}

.search-result-navs-hide {
  display: none;
}

.input-group-search {
  width: 60%;
  margin: 0 auto;
}

.input-group .search-input {
  min-width: 300px
}

.search-results-tabs {
  padding-top: 20px;
}

.search-results-li {
  list-style-type: none;
}

.search-results-li a {
  font-size: 16px;
}

.search-results-li p {
  color: #222222;
}

.search-results-li p .ts {
  color: #999999;
}

.search-alert {
  margin: 50px;
}